/* GENERALS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* UTILITIES */
.colored-white {
    color: #fff;
}


/* MAIN CONTAINER */
.container {
    display: flex;
    height: calc(100vh - 70px);
}

/* side bar content */
.side-bar {
    display: flex;
    min-width: 150px;
    flex-direction: column;
    justify-content: space-between;
    background: chocolate;
}

.up-sidebar {
    height: 340px;
    overflow: hidden;
    background: rgba(151, 143, 143, 0.4);
}

.down-sidebar {
    height: 60px;
    background: rgba(151, 143, 143, 0.4);
}

/* main content */
.main-content {
    position: relative;
    padding-top: 65px;
    height: 100%;
    overflow-y: auto;
    flex-grow: 1;
    background: rgb(0, 0, 0);
}

.upgrade-header {
    position: fixed;
    top: 0;
    padding: 20px 5px;
    width: calc(100% - 150px);
    height: 60px;
    text-align: right;
    background: rgba(151, 143, 143, 0.3);
    z-index: 1;
}

.btn-up {
    background: royalblue;
}

/* main content navbar */
.selection-list {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.selection-list .in-evidence-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row ;
    list-style: none;
}

.selection-list .in-evidence-list ul li {
    margin-right: 10px;
}

.selection-list .in-evidence-list ul li:last-child {
    margin-right: 0;
}

.selection-list .in-evidence-list ul li a {
    text-decoration: none;
    font-size: .6rem;
}

/* content section */
.box {
    width: calc(100% / 6);
    margin: 5px;
    padding: 5px;
    text-align: center;
    background: #fff;
}

.box-content img {
    width: 100%;
}

/* recently played section */
.recently-played {
    display: flex;
    padding-left: 10px;
    justify-content: center;
}

/* created by john doe section */
.john-doe-section {
    display: flex;
    padding-left: 10px;
}

.john-doe-section .box {
    width: calc(100% / 6);
}

.john-doe-section .box .box-content img {
    width: 100%;
}

/* popular artist section */
.popular-artist {
    display: flex;
    padding-left: 10px;
}

.popular-artist .box {
    width: calc(100% / 6);
} 

.popular-artist .box .box-content img {
    width: 100%;
    border-radius: 50%;
}

/* FOOTER PRESS-PLAY */
.press-play {
    display: flex;
    height: 70px;
    justify-content: space-between;
    background: rgb(158, 193, 194);
}

.left-footer {
    width: 150px;
    background: rgba(151, 143, 143, 0.3);
}

.middle-footer {
    width: 500px;
    background: rgba(151, 143, 143, 0.3);
}

.right-footer {
    width: 150px;
    background: rgba(151, 143, 143, 0.3);
}

