/* GENERALS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* UTILITIES */
.mb-15 {
    margin-bottom: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.colored-white {
    color: #fff;
}

.colored-gray {
    color: #696969;
}

.uppercase-text {
    text-transform: uppercase;
}

.fz-07rem {
    font-size: .7rem;
}

.txt-deco {
    text-decoration: none;
}

.line-height2 {
    line-height: 2.5;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-800 {
    font-weight: 800;
}

/* MAIN CONTAINER */
.container {
    display: flex;
    height: calc(100vh - 70px);
}

/* side bar content */
.side-bar {
    display: flex;
    padding: 10px 10px 0px 10px;
    min-width: 150px;
    flex-direction: column;
    justify-content: space-between;
    background: #000;
}

.up-sidebar {
    height: 340px;
    overflow: hidden;
}

.up-sidebar .banner {
    height: 33px;
}

.up-sidebar .home-nav ul li a img{
    vertical-align: bottom;
    height: 20px;
}

.plus-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #000;
    line-height: 1.9;
    background: #696969;
}

.up-sidebar .playlists {
    /* height: 250px;
    overflow-y: auto; */
    background: gray;
}
.down-sidebar .down-app {
    height: 10px;
    vertical-align: middle;
}

.down-sidebar a {
    display: inline-block;
}

.profile {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    background: #696969;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}

.profile img {
    height: 25px;
}

/* main content */
.main-content {
    position: relative;
    padding-top: 65px;
    height: 100%;
    overflow-y: auto;
    flex-grow: 1;
    background: #141922;
}

.upgrade-header {
    position: fixed;
    top: 0;
    padding: 20px 5px;
    width: calc(100% - 150px);
    height: 60px;
    text-align: right;
    background: rgba(151, 143, 143, 0.3);
    z-index: 1;
}

.btn-up {
    background: royalblue;
}

/* main content navbar */
.selection-list {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.selection-list .in-evidence-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row ;
    list-style: none;
}

.selection-list .in-evidence-list ul li {
    margin-right: 20px;
}

.selection-list .in-evidence-list ul li:last-child {
    margin-right: 0;
}

.selection-list .in-evidence-list ul li a {
    text-decoration: none;
    font-size: .7rem;
    color: #696969;
    font-weight: 700;
}

/* content section */
.box {
    width: calc(100% / 6);
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.box-content img {
    width: 100%;
}

/* recently played section */
.recently-played {
    display: flex;
    padding-left: 10px;
    justify-content: center;
}

/* created by john doe section */
.john-doe-section {
    display: flex;
    padding-left: 10px;
}

.john-doe-section .box {
    width: calc(100% / 6);
}

.john-doe-section .box .box-content img {
    width: 100%;
}

/* popular artist section */
.popular-artist {
    display: flex;
    padding-left: 10px;
}

.popular-artist .box {
    width: calc(100% / 6);
} 

.popular-artist .box .box-content img {
    width: 100%;
    border-radius: 50%;
}

/* FOOTER PRESS-PLAY */
.press-play {
    display: flex;
    height: 70px;
    justify-content: space-between;
    background: rgb(158, 193, 194);
}

.left-footer {
    width: 150px;
    background: rgba(151, 143, 143, 0.3);
}

.middle-footer {
    width: 500px;
    background: rgba(151, 143, 143, 0.3);
}

.right-footer {
    width: 150px;
    background: rgba(151, 143, 143, 0.3);
}

